// ==========================================
// Table of Contents
// ==========================================

// 1. Contact Block Container
// 2. Contact Cards Section
// 3. Contact Detail Section
// 4. Map Block
// ==========================================

.contact-block-container {
    margin-top: calc(var(--slope-value-5) * -1);
    .container {
        position: relative;
    }
    .contact-block-wrapper {
        background-image: url(../../../inc/assets/images-3/contact-bg-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: var(--slope-clip-top-right-5);
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: center;
        padding: 5rem 5rem;
        position: relative;
        @media (max-width: 991px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 767px) {
            padding-top: 18rem;
        }
        [dir='rtl'] & {
            clip-path: var(--slope-clip-top-left-5);
        }
        .contact-block {
            display: flex;
            align-items: center;
            gap: 2.4rem;
            position: relative;
            justify-content: end;
            .contact-text {
                font-family: var(--jakarta-font-family);
                font-weight: 600;
                font-size: 4rem;
                color: var(--primary-white);
                max-width: 80%;
                letter-spacing: -0.32px;
                line-height: 1.2;
                @media (max-width: 1200px) {
                    max-width: 72%;
                }
                @media (max-width: 767px) {
                    text-align: center;
                    max-width: 100%;
                }
            }
            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
        .contact-btns {
            display: flex;
            gap: 1rem;
            justify-content: center;
            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
    }
    .logo-block {
        width: 149px;
        height: 149px;
        background-color: var(--primary-color);
        clip-path: var(--slope-clip-bottom-left-3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 6rem;
        bottom: calc(0% - var(--slope-value-3));
        [dir='rtl'] & {
            clip-path: var(--slope-clip-bottom-right-3);
        }
        @media (max-width: 991px) {
            height: 120px;
            width: 120px;
            bottom: 25%;
            left: 8rem;
        }
        @media (max-width: 767px) {
            height: 80px;
            width: 80px;
            top: 5rem;
            left: 50%;
            transform: translateX(-50%);
            clip-path: var(--slope-clip-bottom-left-base);
            [dir='rtl'] & {
                clip-path: var(--slope-clip-bottom-right-base);
            }
        }
        .logo-img {
            height: auto;
            max-width: 100%;
            object-fit: cover;
            @media (max-width: 991px) {
                max-width: 40%;
            }
            @media (max-width: 767px) {
                max-width: 30%;
            }
        }
    }
}
.contact-cards-section {
    position: relative;
    z-index: 1;
    margin-top: calc(var(--slope-value-3) * (-1));
    .contact-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
        .contact-card {
            background-color: var(--semi-black-color);
            clip-path: var(--slope-clip-top-right-3);
            padding: 3rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 5rem;
            [dir='rtl'] & {
                clip-path: var(--slope-clip-top-left-3);
            }
            .icon {
                height: 5rem;
                fill: var(--primary-color);
            }
            .contact-text {
                text-align: right;
                .title {
                    font-family: var(--jakarta-font-family);
                    font-weight: 700;
                    color: var(--primary-color);
                    font-size: var(--sub-heading-font-size);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 30px;
                }
                .link {
                    font-family: var(--jakarta-font-family);
                    font-weight: 600;
                    color: var(--primary-white);
                    font-size: var(--paragraph-font-size);
                    text-decoration: none;
                }
            }
        }
    }
}
.contact-detail-section {
    padding: 20rem 0;
    @media (max-width: 991px) {
        padding: 10rem 0;
    }
    @media (max-width: 767px) {
        padding: 5rem 0 10rem;
    }
    .contact-detail-wrapper {
        .main-heading {
            max-width: 70%;
            @media (max-width: 767px) {
                max-width: 100%;
            }
        }
        .contact-cards-section {
            margin-top: 0;
            .contact-cards-wrapper .contact-card {
                position: relative; /* Enable pseudo-element positioning */
                background-color: var(--secondary-button-bg);
                clip-path: var(--slope-clip-top-right-3);
                padding: 3rem;
                display: grid;
                grid-template-columns: 1fr;
                gap: 5rem;
                overflow: hidden; /* Prevent pseudo-element overflow */
                transition: all 0.3s ease-in-out; /* Smooth transition for the background and other properties */
                
                [dir='rtl'] & {
                    clip-path: var(--slope-clip-top-left-3);
                }
            
            
                .icon {
                    height: 5rem;
                    fill: var(--primary-color);
                    transition: fill 0.8s ease-in-out;
                    z-index: 1;
                }
            
                .contact-text {
                    text-align: right;
                    position: relative; /* Ensure text is above the pseudo-element */
                    z-index: 1;
            
                    .title {
                        font-family: var(--jakarta-font-family);
                        font-weight: 700;
                        color: var(--primary-color);
                        font-size: var(--sub-heading-font-size);
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        line-height: 30px;
                        transition: color 0.8s ease-in-out; /* Smooth color change */
                    }
            
                    .link {
                        font-family: var(--jakarta-font-family);
                        font-weight: 600;
                        color: var(--secondary-color);
                        font-size: var(--paragraph-font-size);
                        text-decoration: none;
                        transition: color 0.3s ease-in-out;
                    }
                }
           
            }
          
            
        }
        .form-call-wrapper {
            margin-top: 10rem;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: end;
            gap: 6rem;
            @media (max-width: 991px) {
                grid-template-columns: 1fr;
            }
            .main-contact-form {
                .main-heading {
                    font-size: 4rem;
                    font-weight: 600;
                    letter-spacing: 0;
                }
                .form {
                    .form-block {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1rem;
                        margin-bottom: 1rem;
                        @media (max-width: 767px) {
                            grid-template-columns: 1fr;
                        }
                    }
                    .form-group {   
                        width: 100%;
                        input[type='text'],
                        input[type='email'],
                        input[type='url'],
                        input[type='tel'],
                        textarea {
                            outline: none;
                            width: 100%;
                            padding: 18px 20px;
                            border: none;
                            box-sizing: border-box;
                            font-family: var(--jakarta-font-family);
                            font-weight: 400;
                            line-height: 1.2;
                            color: var(--paragraph-color);
                            font-size: var(--sm-font-size);
                            background-color: var(--secondary-button-bg);
                            box-shadow: 1px 1.732px 4px 0px var(--transparent-secondary-color);
                            clip-path: var(--slope-clip-top-right-base);
                            [dir='rtl'] & {
                                clip-path: var(--slope-clip-top-left-base);
                                text-align: left;
                            }
                        }
                        textarea {
                            width: 100%;
                            height: 185px;
                            resize: none;
                        }
                    }
                    .custom-dropdown {
                        position: relative;
                        display: inline-block;
                           .dropdown-form-button {
                        width: 100%;
                        padding: 18px 20px;
                        font-family: var(--jakarta-font-family);
                        font-size: var(--sm-font-size);
                        line-height: 1.2;
                        color: var(--paragraph-color);
                        background-color: var(--secondary-button-bg);
                        text-align: left;
                        border: none;
                        box-shadow: 1px 1.732px 4px 0px var(--transparent-secondary-color);
                        clip-path: var(--slope-clip-top-right-base);
                        cursor: pointer;
                        position: relative;
                        &::after {
                                    content: '';
                                    width: 20px;
                                    height: 20px;
                                    background-color: var(--primary-color);
                                    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"%3E%3Cpath d="M271.1 176H48.08c-42.63 0-64.25 51.77-33.88 81.9l111.9 112c18.63 18.76 49.13 18.76 67.88 0l112-112C335.1 227.8 314.7 176 271.1 176zM159.1 336L47.96 224H271.1L159.1 336z"%2F%3E%3C%2Fsvg%3E');
                                    -webkit-mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"%3E%3Cpath d="M271.1 176H48.08c-42.63 0-64.25 51.77-33.88 81.9l111.9 112c18.63 18.76 49.13 18.76 67.88 0l112-112C335.1 227.8 314.7 176 271.1 176zM159.1 336L47.96 224H271.1L159.1 336z"%2F%3E%3C%2Fsvg%3E');
                                    mask-size: contain;
                                    -webkit-mask-size: contain;
                                    mask-repeat: no-repeat;
                                    -webkit-mask-repeat: no-repeat;
                                    color: var(--primary-color);
                                    position: absolute;
                                    top: 50%;
                                    right: 20px;
                                    transform: translateY(-50%);
                                    pointer-events: none;
                                }
                    }
                    
                    .dropdown-form-menu {
                        display: none;
                        position: absolute;
                        width: 100%;
                        background-color: #fff;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        z-index: 1000;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    
                    .dropdown-form-menu li {
                        padding: 14px 20px;
                        font-family: var(--jakarta-font-family);
                        font-size: var(--sm-font-size);
                        cursor: pointer;
                        color: var(--paragraph-color);
                        transition: all 0.3s ease;
                    }
                    
                    .dropdown-form-menu li:hover {
                        background-color: var(--primary-color);
                        color: var(--primary-white);
                    }
                    }
                    .btn {
                        width: 50%;
                        margin-top: 1rem;
                        @media (max-width: 767px) {
                            width: 100%;
                        }
                    }
                    #mainSuccessMessage {
                        font-size: var(--btn-font-size);
                        font-weight: bold;
                        font-family: var(--jakarta-font-family);
                        text-align: center;
                        color: var(--secondary-color);
                        margin-top: 15px;
                    }
                    #errorContainer {
                        font-size: var(--btn-font-size);
                        font-weight: bold;
                        font-family: var(--jakarta-font-family);
                        text-align: center;
                        margin-top: 15px;
                    }
                }
            }
            .call-section {
                .image-container {
                    display: flex;
                    align-items: center;
                    position: relative;
                    gap: 0;
                    margin-bottom: 2rem;
                    .image-wrapper {
                        width: 67px;
                        height: 66px;
                        border-radius: 50%;
                        border: 4px solid var(--primary-white);
                        box-shadow: 1px 1.732px 4px 0px var(--transparent-secondary-color);
                        overflow: hidden;
                        position: relative;
                        z-index: 3;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                            [dir='rtl'] & {
                                object-position: right;
                            }
                        }
                    }
                    .image-wrapper:nth-child(2) {
                        margin-left: -20px; /* Overlaps with the first image */
                        z-index: 2;
                    }

                    .image-wrapper:nth-child(3) {
                        margin-left: -20px; /* Overlaps with the second image */
                        z-index: 1;
                    }
                }
                .main-heading {
                    font-size: var(--feature-font-size);
                    letter-spacing: 0;
                    margin-bottom: 4rem;
                }
                .call-form-container {
                    margin-top: 3rem;
                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .form-group {   
                            width: 100%;
                            input[type='text'],
                            input[type='date'],
                            input[type='time'],
                            input[type='tel']
                             {
                                outline: none;
                                width: 100%;
                                padding: 18px 20px;
                                border: none;
                                box-sizing: border-box;
                                font-family: var(--jakarta-font-family);
                                font-weight: 400;
                                line-height: 1.2;
                                color: var(--paragraph-color);
                                font-size: var(--sm-font-size);
                                background-color: var(--secondary-button-bg);
                                box-shadow: 1px 1.732px 4px 0px var(--transparent-secondary-color);
                                clip-path: var(--slope-clip-top-right-base);
                                [dir='rtl'] & {
                                    clip-path: var(--slope-clip-top-left-base);
                                    text-align: left;
                                }
                            }
                         
                        }
                       

                    }
                }
            }
        }
    }
}
.map-block{
    background-image: url(../../../inc/assets/images/map-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: var(--slope-clip-top-right-5);
    padding: 20rem 0 29rem;
    [dir='rtl'] & {
        clip-path: var(--slope-clip-top-left-5);
    }
    .address-block{
        position: relative;
        display: inline-block;
          .address-box{
        background-color: var(--primary-white);
        padding: 4rem;
        display: inline-block;
        position: relative;
        clip-path: var(--slope-clip-top-right-3);
        [dir='rtl'] & {
            clip-path: var(--slope-clip-top-left-3);
        }
        .content{
             .logo-block{
            span {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-family: var(--jakarta-font-family);
                font-weight: 600;
                font-size: var(--feature-font-size);
                color: var(--primary-color);
            }
        }
        .address{
            margin: 3rem 0;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            p{
                font-size: var(--sm-title-font-size);
                font-weight: 400;
            }
        }
        .btn {
            .text-two {
                transform: translate(-50%, 250%);
            }
            &:hover {
                .text-two {
                    transform: translate(-50%, -50%);
                }
            }
            &.primary {
                background-color: var(--primary-color);

                &::before {
                    background: var(--secondary-color);
                }

                .text-one {
                    color: var(--primary-white);
                    svg {
                        fill: var(--primary-white);
                    }
                }

                .text-two {
                    color: var(--primary-white);
                    svg {
                        fill: var(--primary-white);
                    }
                }
            }
        }   
        }
     

    }
    .card-notch {
        position: absolute;
        bottom: -16px;
        left: 10%;
        transform: translateX(-50%);
        rotate: 180deg;
        height: 2rem;
        width: 2rem;
        @media (max-width:991px) {
            bottom: -14px;
        }
        svg{
            position: relative;
            height: auto;
            width: 100%;
            fill: white;
        }
      }
    }
  
}