// ==========================================
// Table of Contents
// ==========================================
// 1. Team Meet Section
// 2. Team Meet Green BG
// 3. Goals Section
// 4. Demo Team Meet
// ==========================================

.team-meet-section {
    position: relative;
    background:
        url(../../../inc/assets/images-3/services-bg-img-1.png) center / 100% 100% no-repeat
        /* Second image */;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 20rem;
    @media (max-width: 991px) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    @media (max-width: 767px) {
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
    .grid-icon {
        position: absolute;
        width: 4.6rem;
        height: 4.6rem;
        stroke: var(--primary-white);
        bottom: 50px;
        right: 20px;
        z-index: 10;
        @media (max-width:991px) {
            bottom: 20px;
            left: 20px;
        }
        @media (max-width:767px) {
           display: none;
        }
    }
    .heading-wrapper {
        display: flex;
        align-items: end;
        margin-bottom: 5rem;
        .main-heading {
            color: var(--primary-white);
            max-width: 90%;
            margin-bottom: 0;
        }
        .team-slider-btns {
            display: flex;
            gap: 2rem;
            .slider-btn {
                cursor: pointer;
                transition: all 0.25s ease;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                font-size: 4rem;
                aspect-ratio: 1 / 1;
                min-width: 4.4rem;
                min-height: 4.4rem;
                flex-basis: min-content;
                svg {
                    height: 4rem;
                    width: auto;
                    fill: var(--primary-white);
                }
            }
        }
        @media (max-width: 991px) {
            flex-direction: column;
            gap: 5rem;
            align-items: flex-start;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team-card {
        width: 100%;
        .team-img {
            position: relative;
            overflow: hidden;
            .image {
                object-position: center;
                // max-width: 445px;
                width: 100%;
                height: 445px;
                object-fit: cover;
                clip-path: var(--slope-clip-top-right-3);
                [dir='rtl'] & {
                    clip-path: var(--slope-clip-top-left-3);
            }
        }
            .team-social {
                background-color: var(--primary-color);
                clip-path: var(--slope-clip-bottom-left-base);
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                position: absolute;
                // height: 100%;
                width: 94%;
                padding: 1rem;
                bottom: 1rem;
                left: 1rem;
                z-index: 1;
                opacity: 0;
                transform: translateY(30px);
                transition: all 0.3s ease;
                [dir='rtl'] & {
                    clip-path: var(--slope-clip-bottom-right-base);
                    left: auto;
                    right: 1rem;
                }
                @media (max-width: 1200px) {
                    width: 96%;
                }
                .social-link {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    border: 2px solid transparent;
                    border-radius: 50%;
                    padding: 1rem;
                    transition: all 0.3s ease;
                    .icon {
                        height: 2rem;
                        width: 2rem;
                        fill: var(--primary-white);
                    }
                    &:hover {
                        border: 2px solid var(--primary-white);
                    }
                }
            }
        }
        &:hover {
            .team-img .team-social {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        .team-content {
            margin-top: 1.6rem;
            .name {
                color: var(--primary-white);
                font-family: var(--jakarta-font-family);
                font-weight: 600;
                font-size: var(--feature-font-size);
                line-height: 30px;
            }
            .position {
                color: var(--primary-color);
                font-family: var(--jakarta-font-family);
                font-weight: 400;
                font-size: var(--sm-font-size);
                line-height: 30px;
            }
        }
    }
    .swiper-button-disabled {
        opacity: 0.5 !important;
        pointer-events: none !important;
        cursor: not-allowed;
    }
}
.team-meet-green-bg{
    background:
    url(../../../inc/assets/images/services-bg-img-1.png) center / 100% 100% no-repeat!important; 
}
.goals-section{
    position: relative;
    background:
        url(../../../inc/assets/images/services-bg-img-1.png) center / 100% 100% no-repeat
        /* Second image */;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 20rem;
    @media (max-width: 991px) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    @media (max-width: 767px) {
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
    .main-heading {
        color: var(--primary-white);
        max-width: 90%;
        margin-bottom: 5rem;
    }
    .goals-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14rem;
        @media (max-width:991px) {
            grid-template-columns: 1fr;
            gap: 5rem;
        }
        .goal-block{
            .title{
                font-family: var(--jakarta-font-family);
                font-size: var(--feature-font-size);
                color: var(--primary-white);
                font-weight: 600;
                line-height: 30px;
                margin-bottom: 4rem;
            }
            p{
                color: var(--paragraph-md-color);
            }
            .about-list {
                list-style: none;
                margin-top: 3.5rem;
                margin-bottom: 5rem;
                .list-item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 5.5px 0;
                    .list-icon {
                        height: 30px;
                        width: 30px;
                        fill: var(--primary-color);
                        margin-right: 7.5px;
                    }
                    .list-title {
                        font-family: var(--jakarta-font-family);
                        font-size: var(--paragraph-font-size);
                        color: var(--primary-white);
                        font-weight: 600;
                        line-height: 18px;
                        padding-left: 10px;
                        // margin: 6px 0px 0px 0px;
                        line-height: 30px;
                    }
                    &:not(:last-child) {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    .grid-icon {
        position: absolute;
        width: 4.6rem;
        height: 4.6rem;
        stroke: var(--primary-white);
        bottom: 50px;
        left: 50px;
        z-index: 10;
        @media (max-width:991px) {
            bottom: 50px;
            left: 20px;
        }
        @media (max-width:767px) {
       display: none;
        }
    }
}
.demo-team-meet{
background: radial-gradient(circle at bottom right, var(--primary-color) 0, var(--main-secondary-color) 30%);
}